{% let button = "button wrap-button-text is-large is-link is-justify-content-flex-start has-text-left is-fullwidth" -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>rustboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
    .wrap-button-text {
        height: 100%;
        white-space: inherit;
    }
    </style>
    <script>
      function stop() {
        fetch('/stop', {method: 'POST'})
      }

      function play(key) {
        fetch('/sounds/' + key, {method: 'POST'})
      }
    </script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="fixed-grid has-4-cols">
          <div class="grid">
            <div class="cell is-col-span-4">
              <button class="{{ button }} is-danger" onClick="stop()">
                <span class="panel-icon my-auto is-danger">
                  <i class="fas fa-stop" aria-hidden="true"></i>
                </span>
                stop
              </button>
            </div>
          {% for sound in sounds -%}
            <div class="cell">
              <button class="{{ button }}" onClick="play('{{ sound }}')">
                <span class="panel-icon my-auto">
                  <i class="fas fa-play" aria-hidden="true"></i>
                </span>
                <span class="is-size-5">{{ sound }}</span>
              </button>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
