<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>rustboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script>
      function stop() {
        fetch('/stop', {method: 'POST'})
      }

      function play(key) {
        fetch('/sounds/' + key, {method: 'POST'})
      }
    </script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="panel is-link">
          <div class="panel-block" onClick="stop()">
            <span class="panel-icon is-danger">
              <i class="fas fa-stop" aria-hidden="true"></i>
            </span>
            stop
          </div>
        {% for sound in sounds -%}
          <div class="panel-block" onClick="play('{{ sound }}')">
            <span class="panel-icon is-danger">
              <i class="fas fa-play" aria-hidden="true"></i>
            </span>
            {{ sound }}
          </div>
        {% endfor %}
        </div>
      </div>
    </section>
  </body>
</html>
